.card {
  display: flex;
  flex-direction: column;
  width: 320px;

  position: fixed;

  transform-origin: top left;

  background-color: var(--dark-shade-900);
  border: 2px solid var(--dark-shade-900);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  &:focus-within {
    outline: solid;
    z-index: 10;
  }
}

.card-title {
  display: flex;
  flex-direction: row;
  padding: var(--separation-s);
}

.card-content {
  width: 100%;
  padding: var(--separation-s);
  background-color: var(--dark-shade-800);
}

.draggable {
  cursor: grab;
}

.draggable[aria-pressed="true"] {
  cursor: grabbing;
  z-index: 10;
}

.contextual-menu {
  display: flex;
  opacity: 0;
  flex-direction: row;
  justify-content: end;

  position: absolute;
  top: -30px;
  right: var(--separation-s);

  transition: opacity 0.4s ease; /* Smooth transition */

  background: var(--dark-shade-900);
  border-radius: 5px 5px 0 0;
  padding: 0 var(--separation-s);

  pointer-events: none;
}

.card:focus-within .contextual-menu,
.contextual-menu:focus {
  opacity: 1;
  pointer-events: all;
}

.contextual-menu-actions {
  display: flex;
  flex-direction: row;

  gap: var(--separation-s);
}

.contextual-menu-actions button {
  cursor: pointer;
}

/*CARD CHECK LIST*/

.check-list {
  padding: var(--separation-s);

  gap: var(--separation-s);
  display: flex;
  flex-direction: column;
}

.check-list .check-task {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.check-task.completed > input[type="text"] {
  text-decoration: line-through;
  color: var(--dark-shade-600);
}

.check-task-text {
  flex: 1;
}

.check-task-delete {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease; /* Smooth transition */

  color: var(--dark-shade-700);
}

.check-task:focus-within .check-task-delete,
.check-task:hover .check-task-delete {
  opacity: 1;
  pointer-events: all;
}
