%icon {
  width: 20px;
  height: 20px;
  &.clickable {
    cursor: pointer;
  }
}

.icon {
  @extend %icon;
}

.icon-l{
  @extend %icon ;
  width: 40px;
  height: 40px
}

.icon-secondary {
  @extend %icon;
  color: var(--dark-shade-700);
}
