.link-preview {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

.link-preview-title,
.link-preview-description {
  padding: var(--separation-m);
}

.link-preview-description {
  color: var(--dark-shade-700);
}
